.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/jsconfig.json
**/.eslintrc.json
**/*.vsix
node_modules/**
.DS_Store
*.log
.git/**
.github/**
screenshots/**
docs/** 